#titulo-id{
    color: purple;
}

.cor-amarela {
    color: yellow;
}

h2{
    color: purple;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 26px;
    padding-left: 0.4rem;
}

p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    line-height: 24px;
}

h2{
    color: burlywood;
}
button {
    border-radius: 1.05rem;
    background-color: #F71735;
    color: white;
}

button:hover{
    background-color: #ff000dc7;
}

.fundo-purple{
    background: rebeccapurple;
}

.fundo-bege{
    background-color: blue;
}

html{
    scroll-behavior: smooth;
}

.fonte-grande{
    font-size: 50px;
}

#titulo-principal {
    background: black;
    color: white;
}

